<section id="tasks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tasks</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h3 class="section-heading">Task 1: Named Entity Recognition and Classification (NERC)</h3>
        <ul>
          <li><b> Subtask 1.1 - NERC Essentials:</b>  this task includes the recognition and classification of high- level entity types: Person, Organisation, Location and Product.</li>
          <li><b> Subtask 1.2 - NERC fine-grained:</b>  includes ‘NERC Essentials’, plus the detection and classification at sub-type level (e.g. Person-individual vs. Person-collective) and the detection of NE components (e.g. function, title, name).</li>
        </ul>
        <h3 class="section-heading">Task 2 : Named Entity Linking (EL)</h3>
        <ul>
          <li><b> Subtask 2.1 - Entity coreference resolution:</b>  given a set of mentions, cluster them into coreferent sets and give them a unique identifier.</li>
          <li><b> Subtask 2.2 - Entity Linking:</b>  this task includes the linking of named entity mentions to a unique referent in a knowledge base (KB) or to a NIL node if the mention does not have a referent in the KB. The chosen KB is <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>.</li>
        </ul>
        </div>
    </div>
</section>
