// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: gold;
$color-white: #FFFFFF;
$color-text:  #151515;
$color-gray:  #2B5F72;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #eeeced;

// Border
$color-border: #ddd;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;
